@import 'vars';
@import 'mixins';

.button {
    padding: 1.5rem 2rem;
    border-radius: 5rem;
    transition-duration: 0.3s;
    transition-property: background-color, color, border;
    transition-timing-function: ease;
    position: relative;

    @include small-tablet {
        padding: 3rem;
        border-radius: 10rem;
        font-size: 3rem;
        font-weight: 700;
        line-height: 3.4rem;
    }

    &::after,
    &::before {
        @include pseudo {
            inset: 0;
            transition-duration: 0.3s;
            transition-property: opacity, background;
            transition-timing-function: ease;
            z-index: -1;
            border-radius: inherit;
        }
    }

    &:hover {
        &::after {
            opacity: 0;
        }
        &::before {
            opacity: 1;
        }
    }

    &:disabled {
        user-select: none;
        pointer-events: none;
    }

    @include h3;
}

.button-sky {
    @extend .button !optional;
    color: $white;
    border-radius: 5rem;
    border: 0.1rem solid #f3fbff;

    &::after {
        background: linear-gradient(268deg, #02b4ff 15.29%, #88d9fc 77.46%);
    }

    &::before {
        background: linear-gradient(266deg, #88d9fc 23.17%, #02b4ff 80.75%);
    }

    &:disabled {
        color: rgba(255, 255, 255, 0.5);
    }

    &:active {
        color: $sky-primary;
        border-color: $sky-primary;

        &::before {
            background: transparent;
        }
    }
}

.button-outlined {
    @extend .button !optional;
    color: $text-primary;
    border: 0.1rem solid $sky-primary;

    &:hover {
        color: $sky-primary;
    }

    &:disabled {
        color: rgba(36, 190, 254, 0.7);
    }

    &:active {
        color: $sky-primary;
    }
}

.button-grey {
    @extend .button !optional;
    color: $text-primary;
    border: 0.1rem solid #e7ecfa;

    &::after {
        background: linear-gradient(270deg, #e7ecfa 0%, #fff 86.93%);
    }

    &::before {
        background: transparent;
    }

    &:disabled {
        color: rgba(41, 52, 74, 0.5);
        background: linear-gradient(270deg, #e7ecfa 0%, #fff 86.93%);
    }

    &:active {
        border-color: #f9fafe;
        background: transparent;
    }
}

.link {
    color: $text-secondary;
    font-size: 1.6rem;
    font-weight: 700;
    line-height: normal;
    transition-duration: 0.3s;
    transition-property: opacity, color;
    transition-timing-function: ease;

    &:hover {
        color: $sky-primary;
    }

    &.disabled {
        color: rgba(50, 50, 50, 0.5);
        pointer-events: none;
        user-select: none;
    }

    &:active {
        color: #02b4ff;
    }
}

.link-arrow {
    @include h3;
    color: $text-secondary;
    transition-duration: 0.3s;
    transition-property: opacity, color;
    transition-timing-function: ease;
    display: flex;
    align-items: center;
    gap: 1.1rem;

    svg {
        max-width: 0.6906rem;
        width: 100%;
        height: 1.1rem;

        transition-duration: 0.3s;
        transition-property: opacity, transform;
        transition-timing-function: ease;
    }

    &:hover {
        color: $sky-primary;

        svg {
            opacity: 0;
            transform: translateX(100%);
        }
    }

    &:active {
        svg {
            transform: translateX(-100%);
        }
    }

    &.disabled {
        color: rgba(50, 50, 50, 0.5);
        pointer-events: none;
        user-select: none;

        svg {
            path {
                stroke: $text-primary;
            }
        }
    }
}

.link-circle-arrow-right {
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    max-width: 4.6rem;
    width: 100%;
    height: 4.6rem;
    background: $sky-primary;
    border: 0.1rem solid transparent;
    transition-duration: 0.3s;
    transition-property: background, border;
    transition-timing-function: ease;

    svg {
        max-width: 0.625rem;
        width: 100%;
        height: 1.1224rem;

        path {
            transition-duration: 0.3s;
            transition-property: stroke;
            transition-timing-function: ease;
        }
    }

    &:hover {
        border-color: $sky-primary;
        background: transparent;

        svg {
            path {
                stroke: $sky-primary;
            }
        }
    }

    &:active {
        border-color: $sky-primary;
        background: transparent;

        svg {
            path {
                stroke: $sky-primary;
            }
        }
    }

    &.disabled {
        user-select: none;
        pointer-events: none;
    }
}

.link-circle-arrow-down {
    position: relative;

    .circle {
        position: absolute;
        width: 100%;
        height: 100%;
        z-index: -1;
    }

    .arrow {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        max-width: 1.4rem;
        width: 100%;
        height: 1.3rem;
        transition-duration: 0.1s;
        transition-property: transform;
        transition-timing-function: ease;

        path {
            transition-duration: 0.3s;
            transition-property: stroke, fill;
            transition-timing-function: ease;
        }
    }

    max-width: 4.6rem;
    width: 100%;
    height: 4.6rem;

    &:hover {
        .arrow {
            path {
                fill: $text-primary;
                stroke: $sky-primary;
            }
        }
    }

    &:active {
        .arrow {
            transform: translate(-50%, -50%) rotate(180deg);
        }
    }

    &.disabled {
        user-select: none;
        pointer-events: none;
    }
}
