@import 'vars';
@import 'mixins';

body {
    &.locked {
        overflow: hidden;
    }
}

@media (min-width: 48.01em) {
    .mobile {
        display: none;
    }
}

@media (max-width: 48em) {
    .desktop {
        display: none;
    }
}

.hidden {
    display: none;
}

section {
    margin-bottom: 12.2rem;
}

.section-title {
    @include h1;

    span {
        color: $sky-primary;
    }
}

.swiper-button-next,
.swiper-button-prev {
    border-radius: 50%;
    background: $white;
    width: 5rem;
    height: 5rem;
    @include transition(background);
    position: initial;
    margin: 0;
    padding: 0;

    @include small-tablet {
        width: 10rem;
        height: 10rem;
    }

    &::after {
        display: none;
        visibility: hidden;
    }

    svg {
        width: 0.6rem;
        height: 1.1rem;

        path {
            @include transition($property: stroke fill);
        }

        @include small-tablet {
            width: 1.2rem;
            height: 2.2rem;
        }
    }

    &:hover {
        background: $sky-primary;

        svg {
            path {
                stroke: $white;
                fill: $white;
            }
        }
    }
}
