.header {
    margin-top: 4.3rem;
    margin-bottom: 5rem;

    @include small-tablet {
        margin-bottom: 1rem;
    }

    &__subheader {
        display: flex;
        align-items: center;
        justify-content: flex-end;
        gap: 7.1rem;

        @include small-tablet {
            display: none;
        }

        &-address {
            display: flex;
            align-items: center;
            gap: 0.8rem;

            img {
                max-width: 2.5043rem;
                width: 100%;
                height: 2.4rem;
            }

            &-text {
                color: $text-primary;
                font-size: 1.8rem;
                font-weight: 700;
                line-height: normal;
                font-style: normal;
            }
        }

        &-helper {
            display: flex;
            align-items: center;
            gap: 1.5rem;

            &-name {
                color: $sky-primary;
                font-size: 1.6rem;
                font-weight: 700;
                line-height: 2.5rem;
                white-space: nowrap;
            }

            &-link {
                display: flex;
                align-items: center;
                gap: 0.7rem;
                width: 100%;
                white-space: nowrap;

                &.mobile {
                    display: none;

                    @include small-tablet {
                        display: inline-flex;
                        width: auto;
                    }
                }

                @include small-tablet {
                    display: flex;
                    justify-content: flex-end;
                }

                &:hover {
                    .header__subheader-helper-link-text {
                        color: $sky-primary;
                    }

                    svg {
                        path {
                            fill: $sky-primary;
                        }
                    }
                }

                svg {
                    max-width: 1.8rem;
                    width: 100%;
                    height: 1.8rem;

                    path {
                        @include transition(fill);
                    }

                    @include small-tablet {
                        max-width: 4.2rem;
                        width: 100%;
                        height: 4.2rem;
                    }
                }

                &-text {
                    color: $text-secondary;
                    font-size: 2rem;
                    font-weight: 900;
                    line-height: normal;
                    @include transition(color);
                }
            }
        }
    }

    &__content {
        display: flex;
        justify-content: space-between;

        @include small-tablet {
            align-items: center;
        }
    }

    &__logo {
        max-width: 19.5rem;
        width: 100%;
        height: 9.5rem;

        @include small-tablet {
            max-width: 28.1rem;
            width: 100%;
            height: 12rem;
            margin-top: 1rem;
        }
    }

    &__nav {
        margin-top: auto;
        margin-bottom: 0.5rem;

        @include small-tablet {
            display: none;
        }

        &-list {
            display: flex;
            align-items: center;
        }

        &-item {
            margin-right: 4rem;
            position: relative;

            @media (min-width: 48em) {
                &:hover {
                    .header__nav-item-dropdown-list {
                        opacity: 1;
                        visibility: visible;
                        pointer-events: auto;
                        user-select: auto;
                    }
                }
            }

            &:last-child {
                margin-right: 2rem;
            }

            &::after {
                @include pseudo {
                    right: -2.2rem;
                    top: 50%;
                    max-width: 0.4rem;
                    width: 100%;
                    height: 0.4rem;
                    border-radius: 50%;
                    background: #c0c0c9;
                    transform: translate(-50%, -50%);
                    pointer-events: none;
                    user-select: none;
                }
            }

            &-link {
                color: $text-secondary;
                text-align: center;
                font-size: 1.6rem;
                font-weight: 700;
                line-height: normal;

                @include transition(color);

                &:hover {
                    color: $sky-primary;
                }
            }

            &-dropdown {
                &-list {
                    padding: 2.5rem;
                    border-radius: 3rem;
                    background: $white;
                    display: flex;
                    flex-direction: column;
                    gap: 1rem;
                    position: absolute;
                    z-index: 4;
                    width: 30rem;
                    top: 3rem;
                    left: -6rem;
                    opacity: 0;
                    visibility: hidden;
                    pointer-events: none;
                    user-select: none;

                    &::before {
                        @include pseudo {
                            width: 100%;
                            height: 5rem;
                            top: -1rem;
                            background: transparent;
                            z-index: -1;
                        }
                    }

                    @include transition($property: opacity);
                }

                &-item {
                    a {
                        color: $text-primary;
                        font-size: 1.6rem;
                        font-style: normal;
                        font-weight: 400;
                        line-height: 2.7rem;
                        @include transition(color);

                        &:hover {
                            color: $sky-primary;
                        }
                    }
                }
            }
        }
    }

    &__burger {
        max-width: 4.2rem;
        width: 100%;
        height: 3.2rem;
        position: relative;
        margin-top: 0.8rem;
        margin-left: 1rem;

        span {
            top: 50%;
            transform: translateY(-50%);
        }

        &::after,
        &::before,
        span {
            position: absolute;
            width: 100%;
            height: 0.4rem;
            border-radius: 0.2rem;
            background: $text-primary;
        }

        &::after {
            @include pseudo {
                top: 0;
            }
        }

        &::before {
            @include pseudo {
                bottom: 0;
            }
        }

        &-menu {
            @media (min-width: 48em) {
                display: none;
            }

            &.--active {
                opacity: 1;
                user-select: auto;
                pointer-events: auto;
                visibility: visible;
                transform: scale(1);
            }

            position: absolute;
            top: 0;
            left: 0;
            right: 0;
            border-radius: 10rem;
            background: $white;
            box-shadow: 0px 2rem 8rem 0px rgba(90, 84, 120, 0.15);
            z-index: $burger-menu-z-index;
            padding: 6rem 6.7rem;
            opacity: 0;
            user-select: none;
            pointer-events: none;
            @include transition($property: opacity transform);
            transform: scale(.9);

            &-heading {
                display: flex;
                align-items: center;
                justify-content: space-between;
                margin-bottom: 5rem;

                .close {
                    max-width: 6rem;
                    width: 100%;
                    height: 6rem;
                }

                &-address {
                    display: flex;
                    align-items: center;
                    gap: 0.5rem;

                    img {
                        max-width: 5rem;
                        width: 100%;
                        height: 5rem;
                    }

                    &-text {
                        color: $text-primary;
                        font-size: 3.6rem;
                        font-style: normal;
                        font-weight: 700;
                        line-height: normal;
                    }
                }
            }

            &-list {
                display: flex;
                flex-direction: column;
                gap: 3.3rem;
            }

            &-item {
                &-title {
                    color: $text-primary;
                    text-align: center;
                    font-size: 3.3rem;
                    font-style: normal;
                    font-weight: 400;
                    line-height: 3.4rem;
                    display: flex;
                    align-items: center;
                    gap: 1.5rem;

                    &.--active {
                        img {
                            transform: rotate(-180deg);
                        }
                    }

                    img {
                        max-width: 2.2rem;
                        width: 100%;
                        height: auto;
                        @include transition(transform);
                    }
                }
            }

            &-dropdown {
                &-list {
                    flex-direction: column;
                    padding-left: 2rem;
                    align-items: flex-start;
                    margin-top: 1rem;
                    display: none;
                }

                &-item {
                    color: $text-primary;
                    text-align: center;
                    font-size: 2.9rem;
                    font-style: normal;
                    font-weight: 400;
                    line-height: 5rem;
                }
            }

            &-helper {
                display: flex;
                flex-direction: column;
                gap: 1rem;
                margin-top: 8rem;

                &-name {
                    color: $sky-primary;
                    font-size: 3.3rem;
                    font-style: normal;
                    font-weight: 700;
                    line-height: 5rem;
                }

                &-link {
                    display: flex;
                    align-items: center;
                    gap: 1.4rem;

                    svg {
                        max-width: 4rem;
                        width: 100%;
                        height: 4rem;
                    }

                    span {
                        color: $text-secondary;
                        font-size: 4.3rem;
                        font-weight: 700;
                        line-height: normal;
                    }
                }
            }
        }
    }
}
