.hero {
    @include small-tablet {
        margin-bottom: 10rem;
    }

    &__content {
        display: flex;
        align-items: flex-start;
        justify-content: space-between;
        position: relative;

        @include small-tablet {
            flex-direction: column;
        }

        &-banner {
            position: absolute;
            z-index: 3;
            max-width: 72.4rem;
            width: 100%;
            height: 48.8rem;
            top: -4rem;
            left: 56.5%;
            transform: translateX(-50%);

            @include small-tablet {
                z-index: -1;
                max-width: 73rem;
                height: 48.4rem;
                position: initial;
                transform: translateX(0);
            }
        }

        &-text {
            border-radius: 5rem;
            background: $white;
            padding: 4rem;
            max-width: 53.4rem;
            width: 100%;
            margin-top: 0.7rem;

            @include small-tablet {
                max-width: 100%;
                border-radius: 10rem;
                margin-top: -0.5rem;
                padding: 4.5rem 1.8rem 6rem 6rem;
            }

            &-title {
                @include h1;
                position: relative;
                margin-bottom: 2.1rem;
                max-width: 37rem;

                @include small-tablet {
                    font-size: 4.4rem;
                    line-height: 5.5rem;
                    max-width: 47rem;
                    margin-bottom: 0;

                    img {
                        display: none;
                    }
                }

                img {
                    max-width: 3.8rem;
                    width: 100%;
                    height: 3.8rem;
                    position: absolute;
                    right: 10rem;
                    bottom: 0;
                }
            }

            &-description {
                @include p;
                margin-bottom: 2.8rem;
                max-width: 44rem;

                @include small-tablet {
                    margin-bottom: 2.4rem;
                    font-size: 2.9rem;
                    max-width: 52rem;
                    line-height: 4rem;
                }
            }

            &-buttons {
                display: flex;
                align-items: center;
                gap: 1.7rem;
                position: relative;
                z-index: 1;

                @include small-tablet {
                    gap: 2.2rem;
                }
            }

            &-button {
                &-primary {
                    display: flex;
                    align-items: center;
                    gap: 0.7rem;
                    white-space: nowrap;

                    @include small-tablet {
                        text-align: center;
                        max-width: 26rem;
                        width: 100%;
                        height: 9rem;
                        padding: 0 0 0 2rem;
                    }

                    img {
                        max-width: 1.8rem;
                        width: 100%;
                        height: 1.8rem;

                        @include small-tablet {
                            max-width: 2.8rem;
                            height: 2.8rem;
                        }
                    }
                }

                &-secondary {
                    @include small-tablet {
                        padding: 0;
                        width: 100%;
                        height: 9rem;
                        display: flex;
                        align-items: center;
                        justify-content: center;
                    }
                }
            }
        }

        &-info {
            &-list {
                display: flex;
                flex-direction: column;
                gap: 2rem;
                max-width: 31.7rem;
                width: 100%;
            }

            &-item {
                display: flex;
                align-items: center;
                gap: 1.3rem;
                padding: 1.8rem;
                border-radius: 5rem;
                background: $white;

                &.--second {
                    img {
                        max-width: 5.4rem;
                        height: 5.9rem;
                    }
                }

                &-text {
                    color: $text-primary;
                    font-size: 1.6rem;
                    font-weight: 400;
                    line-height: normal;
                }

                img {
                    max-width: 5.8rem;
                    width: 100%;
                    height: 5rem;
                }
            }
        }
    }

    &__benefits {
        display: flex;
        align-items: center;
        justify-content: space-between;
        position: relative;
        margin-top: 8rem;

        @media (min-width: 48em) {
            border-radius: 5rem;
            border: 0.2rem solid #ecf0fb;
            gap: 8rem;
            padding: 5.5rem 11.2rem 5.1rem 0;
        }

        @include small-tablet {
            margin-top: 3rem;
        }

        &-image {
            position: absolute;
            left: 0;
            top: 57%;
            transform: translateY(-50%);
            max-width: 13.3596rem;
            width: 100%;
            height: 13.2374rem;
        }

        &-text {
            display: flex;
            align-items: center;
            max-width: 33rem;
            width: 100%;
            margin-left: 13rem;

            &-block {
                display: flex;
                flex-direction: column;
                gap: 1.3rem;
                margin-top: -0.5rem;
                margin-left: 0.5rem;
            }

            &-title {
                display: flex;
                align-items: center;
                gap: 1.1rem;
                @include p;
                color: rgba(0, 0, 0, 0.8);

                @include small-tablet {
                    font-size: 2.5rem;
                    font-weight: 700;
                    line-height: 3.4rem;
                    margin-bottom: 3rem;
                }

                span {
                    display: flex;
                    align-items: center;
                    gap: 1.1rem;
                    @include h2;
                    color: $sky-primary;

                    @include small-tablet {
                        @include p1 {
                            color: $sky-primary;
                        }

                        gap: 1rem;
                    }

                    img {
                        max-width: 1.2rem;
                        width: 100%;
                        height: 1.8rem;

                        @include small-tablet {
                            max-width: 1.4rem;
                            height: 2rem;
                        }
                    }
                }
            }

            &-description {
                @include h2;
                color: $text-primary;
            }
        }

        &-list {
            display: flex;
            align-items: center;
            justify-content: space-between;
            width: 100%;

            @include small-tablet {
                gap: 1.7rem;
            }
        }

        &-item {
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: flex-start;
            text-align: center;
            gap: 1.3rem;
            max-width: 17.5rem;
            width: 100%;

            @include small-tablet {
                border-radius: 10rem;
                border: 0.2rem solid #ecf0fb;
                max-width: 23rem;
                width: 100%;
                height: 24rem;
                justify-content: center;

                @include small-tablet {
                    gap: 0;
                }
            }

            &-info {
                @include h2;

                @include small-tablet {
                    font-size: 2.8rem;
                    font-weight: 700;
                    line-height: 3.4rem;
                }
            }

            &-title {
                @include p;
            }
        }
    }
}
