.position {
    @include swiper-navigation(hidden, 20rem);

    margin-bottom: 20.2rem;

    @include small-tablet {
        margin-bottom: 11.2rem;
    }

    &__title {
        margin-bottom: 7rem;

        @include small-tablet {
            margin-bottom: 6rem;
        }
    }

    &__map {
        margin-bottom: 4rem;

        @include small-tablet {
            margin-bottom: 1.2rem;
        }
    }

    &__item {
        @include position-element;
    }
}
