.themes {
    margin-top: 9rem;

    @include small-tablet {
        margin-top: 8rem;
    }

    &__content {
        display: flex;
        align-items: flex-start;
        gap: 4.4rem;
        margin-bottom: 6.9rem;

        @include small-tablet {
            flex-direction: column;
            gap: 6.5rem;
            margin-bottom: 3.9rem;
        }
    }

    &__drugs {
        padding: 3.17rem 5.95rem 0 5.39rem;
        border-radius: 5rem;
        background: $white;
        max-width: 66.7rem;
        width: 100%;

        @include small-tablet {
            border-radius: 8rem;
            max-width: 100%;
            padding: 5.5rem 3rem 0 5rem;
        }

        &-heading {
            display: flex;
            align-items: center;
            justify-content: space-between;
            position: relative;
            margin-bottom: 4.1rem;

            @include small-tablet {
                margin-bottom: 2rem;
            }

            .license__item-circles {
                right: 0;
                top: 0;

                @include small-tablet {
                    position: static;
                    flex-direction: row;
                }
            }

            .license__item-circle {
                max-width: 7rem;
                height: 7rem;
            }
        }

        &-description {
            @include p;
            max-width: 80%;
        }

        &-button {
            display: block;
            margin: 0.2rem 0.1rem -3rem auto;
        }
    }

    &__articles {
        padding: 4.3rem 3.3rem;
        border-radius: 5rem;
        border: 0.2rem solid #dee5f8;
        background: rgba(255, 255, 255, 0.3);
        max-width: 64rem;
        width: 100%;
        display: flex;
        align-items: center;
        gap: 3rem;

        @include small-tablet {
            border-radius: 8rem;
            max-width: 100%;
            align-items: flex-start;
            padding: 4rem;
        }

        &-icon {
            max-width: 8.2rem;
            width: 100%;
            height: auto;

            @include small-tablet {
                max-width: 12rem;
            }
        }

        &-title {
            margin-bottom: 2.1rem;

            @include small-tablet {
                margin-bottom: 1.5rem;
            }
        }

        &-description {
            color: $text-secondary;
            font-size: 1.6rem;
            font-style: normal;
            font-weight: 400;
            line-height: normal;

            @include small-tablet {
                @include p;
            }
        }
    }

    &__list {
        display: grid;
        grid-template-columns: repeat(7, minmax(18.4rem, 1fr));
        gap: 1rem;

        @include small-tablet {
            display: flex;
            flex-direction: column;
            gap: 2.5rem;
        }
    }

    &__item {
        padding: 1.1rem 1.1rem 1.5rem 1.79rem;
        border-radius: 2rem;
        border: 0.2rem solid #dee5f8;
        background: rgba(255, 255, 255, 0.5);
        cursor: pointer;
        display: flex;
        flex-direction: column;
        gap: 1.1rem;

        @include small-tablet {
            flex-direction: row;
            gap: 1.5rem;
            padding: 1.5rem;
            border-radius: 4rem;
            align-items: center;
        }

        &:hover,
        &.--active {
            .themes__item-title {
                color: $sky-primary;
            }
        }

        &-icon {
            max-width: 4rem;
            width: 100%;
            height: 4rem;

            @include small-tablet {
                max-width: 8rem;
                height: 8rem;
            }
        }

        &-title {
            @include p;
            @include transition(color);
            color: #797979;
        }
    }
}
