.treatment {
    &.--car {
        margin-bottom: 11.2rem;
    }

    &.--bg-white {
        .treatment__content {
            background: $white;
        }
    }

    &.--money {
        margin-bottom: 16rem;

        .treatment__poster {
            right: -3.5rem;
            top: -4.4rem;
            max-width: 53.5rem;
            height: 37.7rem;

            @include small-tablet {
                transform: rotate(3.478deg) translate(9rem, 2rem) scale(1.2);
                max-width: 37.5694rem;
                height: 24rem;
            }
        }
    }

    &.--people {
        .treatment__content {
            padding: 6rem 5rem;

            @include small-tablet {
                padding-bottom: 0;
                overflow: hidden;
            }
        }

        .treatment__content-block {
            @include small-tablet {
                display: flex;
                flex-direction: column;
            }
        }

        .treatment__poster {
            max-width: 42.2rem;
            width: 100%;
            height: 46.1rem;
            top: -13.4rem;
            right: 7rem;
            order: 10;

            @include small-tablet {
                transform: translate(9rem, 19rem) scale(1.5);
            }
        }
    }

    &.--doctor {
        margin-top: 20rem;

        .treatment__content-block {
            @include small-tablet {
                display: flex;
                flex-direction: column;
            }
        }

        .treatment__content {
            padding: 6rem 5rem;

            @include small-tablet {
                padding-bottom: 0;
                overflow: hidden;
            }
        }

        .treatment__poster {
            max-width: 43.5rem;
            width: 100%;
            height: 41.1rem;
            right: 8.6rem;
            top: -8.4rem;

            @include small-tablet {
                order: 10;
                transform: translate(2rem, 6rem) scale(0.9);
            }
        }

        &-clinic {
            .treatment__poster {
                max-width: 55.4rem;
                height: 54.6rem;
            }

            .treatment__content {
                padding: 5rem;

                @include small-tablet{
                    padding-bottom: 0;
                    overflow: hidden;
                }
            }

            .treatment__content-block {
                @include small-tablet {
                    display: flex;
                    flex-direction: column;
                }
            }

            .treatment__poster {
                top: -8rem;
                right: -1rem;
                @include small-tablet{
                    margin-top: 4rem;
                    order: 10;
                }
            }
        }
    }

    &.--wire {
        .treatment__content {
            padding-bottom: 3.5rem;

            @include small-tablet {
                padding-bottom: 2.5rem;
            }
        }

        .treatment__poster {
            max-width: 63.5694rem;
            width: 100%;
            height: 37rem;

            @include small-tablet {
                max-width: 75.5694rem;
                width: 100%;
                height: 34rem;
                transform: translateX(-4rem);
                margin-top: 9rem;
            }
        }
    }

    &.--home {
        overflow: hidden;

        @include small-tablet{
            overflow: initial;
        }
    }

    &__content {
        border-radius: 5rem;
        border: 0.1rem solid $white;
        background: #f4fbff;
        position: relative;
        padding: 4.5rem 5.5rem;

        @include small-tablet {
            padding: 5rem 3.6rem 0 5rem;
            border-radius: 8rem;
        }

        &-block {
            max-width: 86.4rem;
            width: 100%;

            @include small-tablet {
                width: 100%;
            }
        }
    }

    &__poster {
        position: absolute;
        max-width: 55.5694rem;
        width: 100%;
        height: 39rem;
        right: 1rem;
        top: 0;

        @include small-tablet {
            position: initial;
            max-width: 52.8rem;
            height: 35.8rem;
            transform: translate(1rem, 3rem);
        }
    }

    &__title {
        margin-bottom: 2.2rem;

        @include small-tablet {
            display: flex;
            flex-direction: column;
            max-width: 89%;
            margin-bottom: 4.4rem;

            &.section-title {
                line-height: 5.5rem;
            }
        }
    }

    &__description {
        @include p;
        margin-bottom: 3.2rem;
        max-width: 70.7rem;

        span {
            color: $sky-primary;
        }
    }

    &__licenses {
        display: flex;
        align-items: center;
        gap: 1.3rem;
        margin-bottom: 2.5rem;

        @include small-tablet {
            gap: 2.6rem;
            margin-bottom: 4.2rem;
            margin-top: 6rem;
        }

        &-icon {
            max-width: 3.7rem;
            width: 100%;
            height: 3.7rem;

            @include small-tablet {
                max-width: 7.4rem;
                height: 7.4rem;
            }
        }

        &-title {
            @include h3;
        }
    }

    &__list {
        display: flex;
        align-items: center;
        margin-bottom: 2.2rem;
        justify-content: space-between;
        max-width: 62rem;
        width: 100%;

        @include small-tablet {
            max-width: 100%;
            flex-direction: column;
            gap: 1.3rem;
            align-items: flex-start;
            justify-content: initial;
            margin-bottom: 4.8rem;
        }
    }

    &__item {
        display: flex;
        align-items: center;
        gap: 1.3rem;
        max-width: 20rem;

        @include small-tablet {
            max-width: 100%;
            gap: 1.5rem;
        }

        &-icon {
            max-width: 3rem;
            width: 100%;
            height: 100%;

            @include small-tablet {
                max-width: 4.6rem;
            }
        }

        &-description {
            @include h3;

            @include small-tablet {
                max-width: 60%;
            }
        }
    }

    &__contacts {
        display: flex;
        align-items: center;
        justify-content: space-between;
        max-width: 62rem;
        width: 100%;

        &-link {
            display: flex;
            align-items: center;
            gap: 2.1rem;

            @include small-tablet {
                gap: 1rem;
            }

            &:hover {
                span {
                    color: $sky-primary;
                }
            }

            img {
                max-width: 7.6322rem;
                width: 100%;
                height: 8.4892rem;
            }

            span {
                color: $text-primary;
                font-size: 3rem;
                font-weight: 700;
                line-height: normal;

                @include transition(color);

                @include small-tablet {
                    @include h2;
                }
            }
        }

        &-button {
            padding: 1.3rem;
            display: inline-block;
            width: fit-content;

            @include small-tablet {
                padding: 3rem;
                border-radius: 10rem;
                transform: translateY(3.4rem);
                margin-bottom: -2rem;
                height: 9rem;
            }
        }
    }

    &__stages {
        &-list {
            display: flex;
            flex-direction: column;
            gap: 3.1rem;
            margin-bottom: 2rem;

            @include small-tablet {
                gap: 3rem;
                margin-bottom: 3rem;
            }
        }

        &-item {
            @include p;
            padding-left: 1.5rem;
            position: relative;

            @include small-tablet {
                padding-left: 2rem;
            }

            &::after {
                @include pseudo {
                    top: 0.5rem;
                    left: -0.5rem;
                    border-radius: 50%;
                    background: #a0a3cf;
                    width: 0.9rem;
                    height: 0.9rem;

                    @include small-tablet {
                        width: 1.8rem;
                        height: 1.8rem;
                        top: 1rem;
                    }
                }
            }
        }
    }
}
