.understand {
    &__content {
        display: flex;
        align-items: flex-start;
        gap: 3.3rem;

        @include small-tablet {
            flex-direction: column;
            gap: 6rem;
        }

        &-image {
            border-radius: 5rem;
            border: 0.2rem solid #dee5f8;
            background: linear-gradient(
                214deg,
                rgba(255, 255, 255, 0.4) 36.29%,
                rgba(209, 228, 240, 0.4) 130.68%
            );
            backdrop-filter: blur(0.75rem);
            padding: 2.65rem 4.75rem;
            max-width: 64.2rem;
            width: 100%;

            @include small-tablet {
                max-width: 100%;
                padding: 2.4rem 4.6rem;
                border-radius: 8rem;
                height: 36rem;
            }

            picture,
            img,
            source {
                border-radius: inherit;
            }
        }

        &-text {
            width: 100%;
            display: flex;
            flex-direction: column;
            gap: 3.1rem;

            @include small-tablet {
                max-width: 100%;
            }

            &-title {
                @include h1;
            }

            &-description {
                @include p;
            }

            &-block {
                border-radius: 5rem;
                border: 0.1rem solid #e8edfa;
                background: linear-gradient(180deg, $white 0%, $white 100%);
                padding: 2.55rem 2.85rem;
                display: flex;
                align-items: center;
                gap: 2.73rem;
                max-width: 61.8rem;
                width: 100%;

                @include small-tablet {
                    padding: 4.2rem 2.2rem;
                    border-radius: 10rem;
                    gap: 2.2rem;
                    max-width: 100%;
                }

                &-icon {
                    max-width: 7.47rem;
                    width: 100%;
                    height: 7.47rem;
                    border-radius: 50%;

                    @include small-tablet {
                        max-width: 14.8rem;
                        height: 14.8rem;
                    }
                }

                &-info {
                    &-title {
                        color: $text-primary;
                        font-size: 2.5rem;
                        font-weight: 700;
                        line-height: 3rem;
                        display: block;
                        margin-bottom: 0.6rem;

                        @include small-tablet {
                            @include h2;
                        }
                    }

                    &-subtitle {
                        @include p;
                    }
                }
            }
        }

        &-warning {
            border-radius: 5rem;
            background: rgba(255, 255, 255, 0.3);
            border: 0.2rem solid #dee5f8;
            padding: 3.7rem 3.69rem 3.8rem 8rem;
            position: relative;

            @include small-tablet {
                border-radius: 8rem;
                padding: 3.5rem 2rem 3rem 14rem;
                margin-top: 6rem;
            }

            &-icon {
                position: absolute;
                max-width: 7.4rem;
                width: 100%;
                height: 8.5167rem;
                top: -2rem;
                left: -0.5rem;

                @include small-tablet {
                    max-width: 11rem;
                    height: 13rem;
                    top: -4rem;
                }
            }

            &-text {
                @include h3;
            }
        }
    }
}
